# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of Data Science Libaries
- Example of Open Source Data Science Tools
- Example of a multiplication
- Example of division

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++
6. Julia
7. JavaScript
8. PHP
9. Go
10. Ruby
11. Visual Basic

Some of the commonly used libraries used by Data Scientists include:

###### ***for data science***
1. Panda
2. NumPy
3. SciPy
4. Matplotlib

###### ***for Artificial Intelligence***
5. TensorFlow
6. PyTorch
7. Keras
8. Scikit-learn

###### ***for Natural Language Processing***
9. Natural Language Toolkit (NLTK)

|**Data Science Tools**|
|-----|
|RStudio|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

## Author 
Evgenios Kotsonis